.category-items {
  background-color: #E0E6F6;
  margin: 120px 50px 20px 50px;
  border-radius: 20px;

}

.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 20px;
}

.item-card {
  background-color: #f4f4f4;
  /* Background color for individual item cards */
  padding: 20px;
  /* Padding for the card content */
  border-radius: 8px;
  /* Rounded corners */
  text-align: center;
  /* Center-align the content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add shadow for depth */
}

.item-card img {
  width: 100%;
  /* Make the image fill the card */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 8px;
  /* Rounded corners for the image */
}