html, body {
  height: 100%;    
  margin: 0;       
  display: flex;
  flex-direction: column;
}


.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.main-content {
  flex: 1;  
}


.footer {
  background-color: #000000; 
  color: white;               
  text-align: center;         
  padding: 40px 0;            
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;            
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin-bottom: 20px;        
}

.footer-logo .logo {
  width: 150px;               
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
}

.footer-links a:hover {
  color: white;
}

.social-media a {
  margin: 0 15px;
  color: #ccc;
  text-decoration: none;
}

.social-media a:hover {
  color: white;
}

.quick-links a {
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
}


.social-media a:hover {
  color: #fff; 
}


@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    justify-content: center;
  }

  .footer-links a {
    margin: 0 15px;
  }

  .social-media a {
    margin: 0 15px;
  }
}
