.item-card {
  margin: 10px !important;
  transition: all 0.5s ease !important;
  text-decoration: none !important;
}

.item-card a {
  text-decoration: none !important;
}

.item-card a:hover,
.item-card a:focus,
.item-card a:active {
  text-decoration: none !important;
}

.item-card-info {
  background-color: white !important;
  width: 300px !important;
  height: 450px !important;
  border-radius: 10px !important;
  text-align: left !important;
  padding: 10px !important;
  position: relative !important;
}

.item-card-info img {
  max-width: 250px !important;
  min-height: 140px !important;
  max-height: 250px !important;
}

.item-features {
  color: rgb(94, 94, 94) !important;
  font-size: 14px !important;
}

.item-features p {
  margin-bottom: -5px !important;
  font-size: 15px !important;
}

.item-price {
  display: flex !important;
  margin-top: 10px !important;
}

.item-price span {
  color: rgb(150, 150, 150) !important;
  text-decoration: line-through !important;
  margin-left: 40px !important;
}

.item-buttons {
  display: flex !important;
  justify-content: space-between !important;
  position: absolute !important;
  background-color: white !important;
  bottom: 10px !important;
  opacity: 0 !important;
  /* Initially hidden */
  transition: opacity 0.9s ease !important;
}

.item-card:hover .item-buttons {
  opacity: 1 !important;
  text-decoration: none !important;
}

.learn-more-btn,
.add-to-cart-btn {
  position: relative !important;
  overflow: hidden !important;
  display: inline-block !important;
  padding: 10px 20px !important;
  border-radius: 15px !important;
  transition: color 0.5s !important;
  z-index: 1 !important;
  cursor: pointer !important;
  border: 1px solid transparent !important;
}

.learn-more-btn {
  border: 1px black solid !important;
  margin: 0px 25px !important;
}

.add-to-cart-btn {
  color: white !important;
  background-color: black !important;
}

.learn-more-btn:hover,
.add-to-cart-btn:hover {
  color: white !important;
}

.learn-more-btn::before,
.add-to-cart-btn::before {
  content: "" !important;
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  transition: top 0.9s !important;
  z-index: -1 !important;
}

.learn-more-btn::before {
  background-color: #3e5588 !important;
}

.add-to-cart-btn::before {
  background-color: #34809b !important;
}

.learn-more-btn:hover::before,
.add-to-cart-btn:hover::before {
  top: 0 !important;
}