.all-items{
    background-color: #E0E6F6;
    margin: 20px 50px 20px 50px;
    border-radius: 20px;
}

.all-items-header{
    align-items: center;
    text-align: center;
    margin-left: 300px;
}

.create-item-btn{
    margin-left: 100px;
}

.items-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.all-items-header{
    display: flex;
}

.all-items-header button{
    height: 20px;
}