.all-items{
    background-color: #E0E6F6;
    margin: 100px 0px 20px 0; /* Reset margins */
    border-radius: 20px;
    width: 1300px;
    transform: translateX(339px); /* Move 100px to the right */
}

.all-items-header{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 300px;
}

.all-items-header h1{
    color: black;
}

.modify-item-btn{
    margin-left: 100px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px black solid;
}

.modify-item-btn:hover{
    font-size: 16px;
    transition: 0.9s ease;
    background-color: #a7b2e3;
    border-color: #a7b2e3;
}

.items-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.all-items-header{
    display: flex;
}