.item-card{
  margin: 10px;
  transition: all 0.5s ease;
  text-decoration: none;
}

.item-card a {
  text-decoration: none;
}

.item-card a:hover, .item-card a:focus, .item-card a:active {
  text-decoration: none;
}

.item-card-info{
  background-color: white;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  position: relative;
}

.item-card-info img{
  max-width: 250px;
  min-height: 140px;
  max-height: 250px;
}

.item-features{
  color: rgb(94, 94, 94);
  font-size: 14px;
}

.item-features p{
  margin-bottom: -5px;
  font-size: 15px;
}

.item-price{
  display: flex;
  margin-top: 10px;
}

.item-price span{
  color: rgb(150, 150, 150);
  text-decoration: line-through;
  margin-left: 40px;
}

.item-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  bottom: 10px;
  /* left: 20px;
  right: 20px; */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.9s ease; 
}

.item-card:hover .item-buttons {
  opacity: 1; 
  text-decoration: none;
}

.learn-more-btn, .add-to-cart-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  transition: color 0.5s;
  z-index: 1;
  cursor: pointer;
  border: 1px solid transparent;
}

.learn-more-btn{
  border: 1px black solid;
  margin: 0px 25px;
  
}

.add-to-cart-btn{
  color: white;
  background-color: black;
}

.learn-more-btn:hover, .add-to-cart-btn:hover {
  color: white;
}

.learn-more-btn::before, .add-to-cart-btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.9s;
  z-index: -1;
}

.learn-more-btn::before {
  background-color: #3e5588;
}

.add-to-cart-btn::before {
  background-color: #34809b;
}

.learn-more-btn:hover::before, .add-to-cart-btn:hover::before {
  top: 0;
}
