/* SearchResults.css */

.search-results {
  background-color: #E0E6F6;
  margin: 120px 50px 20px 50px;
  border-radius: 20px;
}

.close-button {
  background-color: blue !important;
  color: white !important;
  border: none !important;
  padding: 8px 12px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.close-button:hover {
  background-color: darkblue !important; /* Darker shade on hover */
}

.results-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 20px;
}